<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheet/product-display.css">
    <%- include('./partials/dependencies') %>
</head>
<body>
    <%- include('./partials/preloader') %>
    <%- include('./partials/navbar') %>
    <header>
        <div class="main">
            <div class="container">
                <% products.forEach(product => { %>
                    <div class="card" style="background-image: url('<%= product.image %>'); background-size: cover; background-size: cover;" onclick="window.location.href='/product/<%= product.id %>'">
                        <div class="text">
                            <h2><%= product.name %></h2>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </header>
    <%- include('./partials/footer') %>
</body>
</html>